<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.www.mapper.ChannelMapper">

    <select id="getByClassifyId" resultType="Channel">
        SELECT
          c.id,c.name
        FROM
          n_channel c,n_classify cl
        WHERE
          c.id = cl.channel_id
          AND cl.id = #{clId}
    </select>
</mapper>
